@model proyectoFinal.Models.rol

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row letra">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1">
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="letra">
                <h3>Detalles de Registro de Roles</h3>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Rol Asignado :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rol1)
                    </dd>

                </dl>

                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div></div>
