@model proyectoFinal.Models.estado

@{
    ViewBag.Title = "Delete";
}

<h3>¿Esta seguro de que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Estado </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type = "submit" value="Eliminar" class="btn btn-default" /> 
            @Html.ActionLink("Regersar a la lista", "Index")
        </div>
    }
</div>
