@{
    ViewBag.Title = "Home Page";
}
<body>
    <link rel="shortcut icon" type="image/x-icon"  src="~/favicon.ico" />
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-10 col-lg-offset-1">
                        <br />
                        <br />
                        <br />
                        <br />
                        <center>
                            <img src="~/imagenes/banner.PNG" width="75%" height="75%" />
                        </center>
                    </div>

                    <br />
                    <br />
                    <div class="row">
                        <div class="col-xs-12  col-md-4 ">
                            <br />
                            <center>
                                <div class="doc"> <img src="~/imagenes/perro.PNG" width="70%" height="60%" /></div>
                            </center>
                            <br />
                            <br />
                            <center>
                                <h3 class="letra">¿QUIENES SOMOS?</h3>
                            </center>
                            <center>
                                <p>
                                    Somos una clinica  expertos en el  cuidado y atención,
                                    de todo tipo de razas de perros y otros animales.
                                </p>
                            </center>
                        </div>
                        <div class=" col-xs-12  col-md-4">
                            <center>
                                <div> <img src="~/imagenes/doc.PNG" width="70%" height="70%" /></div>
                            </center>
                            <center>
                                <h3 class="letra">ENFERMEDADES Y TRATAMIENTOS</h3>
                            </center>
                            <center>
                                <p>
                                    Atendemos cualquier tipo de patología o enfermedad y le asesoramos sobre las diferentes alternativas para abordar el problema.
                                </p>
                            </center>
                        </div>
                        <div class=" col-xs-12 col-md-4 ">
                            <center>
                                <div>


                                    <img src="~/imagenes/768548-clinica-veterinaria-punto-mascota-perro-y-gato-con-collar.png" width="75%" height="75%" />
                                </div>
                            </center>
                            <br />
                            <br />
                            <center>
                                <h3 class="letra">ATENCIÓN VETERINARIA</h3>
                            </center>
                            <center>
                                <p>Nos encargamos de guiarle en todo lo relativo a los cuidados rutinarios y necesidades de salud de su mascota según su edad y raza.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
      
    
</body>