@model proyectoFinal.Models.tipo_mascota

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row letra">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1">
            <br />
            <br />
            <br />
            <br />
            <div class="letra">
                <h3>Detalles</h3>

                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Especie :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.especie)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.codtipo }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>
</div>

